<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <title>OlaWebTools</title>
 <style>
 .button {
 -webkit-transition-duration: 0.4s;
 transition-duration: 0.4s;
 padding: 32px 64px;
 text-align: center;
 background-color: white;
 color: black;
 border: 2px solid #4CAF50;
 border-radius:5px;
 }
 .button:hover {
 background-color: #4CAF50;
 color: white;
 }
 </style>
</head>
<h2>-------------生活充满了选择，而生活的态度就是一切！--------------</h2>
  <body>
  <a href="/add">
    <button class="button">用户加钱</button>
  </a>
  <a href="/idChange">
    <button class="button">身份认证</button>
  </a>
  <a href="/insertPerson">
    <button class="button">房间加人</button>
  </a>
  <a href="/addCommodity">
    <button class="button">用户加物品</button>
  </a>
    <a href="/创建房间">
    <button class="button">创建商业房</button>
  </a>
    <a href="/addCommodity">
    <button class="button">待补充...</button>
  </a>
      <a href="/sqlDemo">
    <button class="button">SQL注入示例</button>
  </a>
  <br />
  <h5>(----------------广告位招租！！！-----------------)</h5>
  </body>
</html>