<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <title>OlaGPT</title>
 <style>
 .button {
 -webkit-transition-duration: 0.4s;
 transition-duration: 0.4s;
 padding: 32px 64px;
 text-align: center;
 background-color: white;
 color: black;
 border: 2px solid #4CAF50;
 border-radius:5px;
 }
 .button:hover {
 background-color: #4CAF50;
 color: white;
 }
 </style>
</head>
<h2>-------------生活充满了选择，而生活的态度就是一切！--------------</h2>
  <body>
  <a href="/add">
    <button class="button">加钱</button>
  </a>
  <a href="box_myself.html">
    <button class="button">身份认证</button>
  </a>
  <a href="box_blind.html">
    <button class="button">房间加人</button>
  </a>
  <a href="report.html">
    <button class="button">加物品</button>
  </a>
  <br />
  <h5>(广告位招租！！！)</h5>
  </body>
</html>